Package: com.ezi.locklight
Name: LockLight
Depends: mobilesubstrate, firmware (>= 9.0)
Version: 1.0.1
Architecture: iphoneos-arm
Description: Switch on/off Spotlight and lock your device by it!
Maintainer: EZI
Author: EZI
Section: Tweaks
